.HeaderCss{
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    justify-content: center;
}

.HeaderContent{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}